// Typography
$font-stack: 'Tajawal', sans-serif;
$title-font: 'Tajawal', sans-serif;
$title-font-1:"Kharabeesh Font";
$base-font-size: 14px;
$base-line-height: 1.7;


// Colors
$primary-color: #fa004a;
$secondery-color: #fe3e0b;
$btn-color: #6E0001;
$text-color: #dfdfdf;
$dark: #000000;


