@font-face {
    font-family: 'Kharabeesh Font';
    src: url('../fonts/Kharabeesh.eot');
    src: url('../fonts/Kharabeesh.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Kharabeesh.woff2') format('woff2'),
        url('../fonts/Kharabeesh.woff') format('woff'),
        url('../fonts/Kharabeesh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
