/* 
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Main Banner
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */
 
.main-banner {
	opacity: 1 !important;
}

.banner-content {
	height: 100vh;
	position: relative;
	[class^="caption"] {
	  	color: #fff;
	  	position: absolute;
	}
	h3 {
		font-family: $title-font;
		font-size: 100px;
		font-style: italic;
		font-weight: 700;
		line-height: 0.9;
		margin-bottom: 0;
		text-shadow: -1px 8px 0px rgba(255,255,255,0.1);
		text-transform: uppercase;
	}
	p {
		font-size: 14px;
		font-weight: 500;
		position: relative;
		text-transform: uppercase;
		color: $text-color;
	}
	.caption1 {
		top: 270px;
		z-index: 1;
		@include calc('left', '50% - 206px');
		@include transform(translateX(-50%));
		p {
			margin: 19px 0 0 10px;
		}
	}

	img {
		z-index: 2;
		@include position(absolute, null, 0, 0px, 0);
	}

	.caption2 {
		@include calc('top', '50% - 40px');
		@include calc('right', '50% - 220px');
		@include transform(translate(50%, -50%));
		z-index: 3;
		p {
			margin: 0;
			@include position(relative, null, null, 3px, 11px);
		}
	}
}

.main-banner {
	.banner-shape {
		@include position(absolute, null, 0, 0, -67px);
	}
}

.caption-mobile {
	display: none;
}

.video-button {
	z-index: 10;
	position: absolute;
	@include calc("top", "50% + -80px");
	@include transform (rotate(-90deg) translateY(-50%));
	&.right {
		right: 0;
	}
	&.left {
		left: 0;
	}
	.play-icon {
	  	border-radius: 50%;
	  	color: #fff;
	  	margin-right: 20px;
	  	position: relative;
	  	z-index: 1;
	  	@include transform (rotate(90deg));
	  	&::after {
  		    background-color: $primary-color;
  		    border-radius: 50%;
  		    content: "";
  		    height: 100%;
  		    opacity: 1;
  		    width: 100%;
  		    z-index: -1;
	  		-webkit-animation: 2000ms ease-out 0s normal none infinite running pulse-border;
	  				animation: 2000ms ease-out 0s normal none infinite running pulse-border;
  		    @include transform(scale(1.4));
  		    @include position(absolute, 0, null, null, 0);
	  	}
	  	span {
	  		border-radius: 50%;
	  		font-size: 21px;
	  		height: 60px;
	  		width: 60px;
	  	}
	}
}

#fire-flame {
    overflow: hidden;
     position:absolute;
  top:0;
  left:0;
	width: 100%;
	height: 100%;

   // background:
   
   //  linear-gradient($dark 0.5em, red 0.5em, red 39.5em, $dark 39.5em) 2.25em 0 / 15.75em 40em,
   //  linear-gradient(90deg, $dark 0.5em, $dark 0.5em, $dark 19.25em, $dark 19.25em) 0.25em 2em / 19.75em 36em;
	@include position(absolute, 0, 0, 0, 0);
    &::before {	
    	content: "";
    	background: linear-gradient(to bottom, transparent -20%, $dark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    	@include position(absolute, 0, 0, 0, 0);
    }
    canvas {
    	margin-top: -160px;
    }
}
.main-banner-slider {
	.slick-man {
	display: flex !important;	
    left: 45%;
	justify-content: center;	
	margin: 0;	
	list-style-type: none;	
	position: absolute;
    bottom: 8%;	
		li {
			margin: 0 0.25rem;
		}
	
		button {
			display: block;
			width: 10px;
			height: 10px;
			padding: 0;
			
			border: none;
			border-radius: 100%;
			background-color: #535353;
			
			text-indent: -9999px;
		}
		button::before{
			background-image: none;
			position: relative;
		}
	
		li.slick-active button {
			background-color: #C80105;
		}
	
}
}
#home-2-slider {
	.slick-dots {
		position: absolute;
		left: 50%;
		bottom: 30px;
		margin: 0;
		@include transform(translateX(-50%));
	}
}
.home-2-slide {
	background-color: #d8e2d7;
	.banner-tag {
		background-color: #fff;
		margin-bottom: 16px;
		padding: 9px 14px 10px 20px;
		position: relative;
		z-index: 0;
		&::after {
			background-color: #fff;
			content: "";
			height: 100%;
			position: absolute;
			right: -10px;
			top: 0;
			width: 40px;
			z-index: -1;
			@include transform(skewX(-26deg));
		}
		&.shape-left {
			&::after {
				right: auto;
				left: -10px;
			}
		}
		&.primary {
			background-color: $primary-color;
			&::after {
				background-color: $primary-color;
			}
		}
	}
	h2 {
		font-size: 70px;
		margin-bottom: 10px;
	}
	p {
		margin-bottom: 45px;
	}
	.row {
		height: 100vh;
	}
}
.banner-2-woman {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
	&.right {
		right: 15px;
	}
	&.left {
		left: 15px;
	}
}
.home-2-slide-2 img {
	bottom: 0;
	left: 50%;
	position: absolute;
	@include transform(translateX(-50%));
}

/* 
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Features
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */

.feature-item {
	background-color: rgba($text-color, 0.1);
	border-left: 3px solid #fe3e0b;
	padding: 50px 40px;
	position: relative;
	@include transition(0.2s);
	.f-icon {
		font-size: 36px;
		line-height: 1;
		margin-bottom: 37px;
	}
	&:hover {
		h6 {
			color: #fff;
		}
		color: #fff;
	}
}

/* 
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * about us
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */

.about-article {
	.tag {
		color: $primary-color;
		display: block;
		margin-bottom: 25px;

	}
	h2 {
		font-size: 70px;
		margin-bottom: 26px;
		color: #EE380E;
	}
}

#about .watermark-title {
	bottom: 100px;
	left: -230px;
}

/* 
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * our services
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */

#our-services .watermark-title {
	bottom: 0px;
	right: -230px;
	position: absolute;
	
}


.item-card {
 	figcaption {
		background-color: #fff;
		padding: 22px 30px 24px 26px;
		opacity: 1;
		backface-visibility: hidden;

		@include position(absolute, null,  0 !important,  0, 40px !important);
		@include transition(all 0.3s ease-out 0s);

		@include transform(rotateY(0deg));
		@include transform-origin(0 0 0);
	}
	.item-card-hover {
		padding: 30px;
		@include transform-origin(0 0 0);
		@include transform(rotateY(-90deg));
		@include position(absolute, 0, 0, 0, 0);
		@include transition(all 0.3s ease-out 0s);
		opacity: 5;
	   background: linear-gradient(rgba(14, 1, 1, 0.5), rgba(9, 1, 1, 0.63));
	   a{
		   color: #fff;
	   }
	}
	.btn {
		border: 0 none;
		border-radius: 0;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
		@include position(absolute, -1px, -1px, null, null);
		@extend .hover-effect-1;
		@extend .gradient-bg;
	}
	.popup-icon {
		color: #fff;
		font-size: 18px;
		height: 80px;
		padding: 0;
		width: 70px;
	}
	&:hover {
		figcaption {
			opacity: 0;
			@include transform(rotateY(-90deg));
		}
		.item-card-hover {
			@include transform(rotateY(0deg));
		}
	}
}

/* 
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Testimonials
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */

#testimonials {
	background-image: url("/img/testimonial-bg.jpg");
}

.testimonial-item {
	.author {
		svg {
			height: 30px;
			width: 20px;
		}
	}
}
 
/* 
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Our Trainers
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */

#our-trainers .watermark-title {
	bottom: 60px;
	left: -410px;
}

.trainer-slider {
 	.slick-arrow {		
		height: 70px;
		position: absolute;
		top: auto;
		width: 50px;
		z-index: 10;
		@include transform(none);
		@include transition();
		@extend .hover-effect-1;
	}
	.slick-prev {
		// bottom: 7.4% !important;
        left: 45.7% !important;
	}
	.slick-next {
		right: 45.7% !important;
        bottom: 14.5% !important;
	}
 }
.trainer-bio {
	h3 {
		font-size: 36px;
	}
}
 
/* 
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * our pricing
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */

#our-pricing .watermark-title {
	bottom: 95px;
	right: -340px;
}

.section-heading {
	svg {
		height: 30px;
		width: 20px;
	}
	[class^="shape"] {
	    background-color: $text-color;
	    width: 5px;
	    height: 30px;
	    display: inline-block;
	    position: relative;
	    &::before {
	    	content: "";
	    	background-color: $text-color;
	    	width: 5px;
	    	height: 30px;
	    	@include position(absolute, 0, null, null, -7px);
	    }
	    &::after {
	    	content: "";
	    	background-color: $text-color;
	    	width: 5px;
	    	height: 20px;
	    	@include position(absolute, 50%, null, null, -14px);
	    	@include transform(translateY(-50%));
	    }
	}
	.shape2 {
		&::before {
			left: auto;
			right: -7px;
		}
		&::after {
			left: auto;
			right: -14px;
		}
	}
	.text {
		margin-left: 15px;
		margin-right: 15px;
	}
	h2 {
		font-size: 60px;
	}
}

.item-card-pt {
	.pt-tag {
		display: inline-block;
		font-size: 36px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 34px;
	}
	p {
		margin-bottom: 31px;
	}
}

.bmi-result {
	border: 1px solid rgba(#fff, 0.25);
	margin-left: 15px;
	padding: 14px 29px 15px 30px;
}

.bmi-man {
	margin: 0;
	z-index: 0;
	@include transform(scale(0.8));
	@include position(absolute, null, 0, -10px, 0);
	&.light {
		bottom: -65px;
		@include transform(scale(1));
	}
}
 
/* 
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Latest Posts
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 */

.blog-tags {
	a {
		color: $text-color;
		margin-right: 10px;
		position: relative;
		&::before {
			background-color: white;
			bottom: -11px;
			content: "";
			height: 0px;
			left: 0;
			outline: 0;
			position: absolute;
			visibility: hidden;
			width: 100%;
			@include transition();
		}
		&:hover {
			color: #fff;
			&::before {
				bottom: -6px;
				opacity: 1;
				height: 2px;
				visibility: visible;
			}
		}
	}
}

.blog-caption h4 {
    margin-bottom: 16px;
}
.chat-header{
	position: relative;
	img{
		position: absolute;
		top: -60px;
        left: -100px;
	}
	.modal-title{
		font-size: 26px;
	}
	.chat-close{
		background: #000000;
		
		span{
			color: #fff;
		font-size: 30px;
		}
	}
}
.cart-overlay{
	top: -114px !important;
	position: absolute;
	z-index: 200000;

     .over-text {
     position: absolute;
     right: 35%;
    color:#fff;
     top: 13%;
     line-height: 0.9;
}
	}
.rel img{
	position: relative;
}	
.top-img{
		text-align: left;
		color: #fff;
		font-size: 38px;
}
// .slick-slider .slick-track, .slick-slider .slick-list {
// direction: ltr;
// }
